/* .slider-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.slider {
  display: flex;
  gap: 16px;
  scroll-behavior: smooth;
  overflow-x: auto;
  scrollbar-width: none;
   overflow-x: auto;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.slider img:hover {
  transform: scale(1.05);
}

/* arrows */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  font-size: 20px;
  padding: 5px 14px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.prev { left: -50px; }
.next { right: -50px; } */




/* General Styles */
:root {
    --primary-color: #f39c12; /* Pizza Orange */
    --bg-dark: #1a1a1a;
    --card-bg: #2d2d2d;
    --text-light: #f4f4f4;
    --text-muted: #bdc3c7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-light);
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1513104890138-7c749659a591?auto=format&fit=crop&w=1000&q=80');
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    text-align: center;
    border-bottom: 4px solid var(--primary-color);
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color:  #f08f06;
    font-weight: bold;
}


header p {
    font-size: 20px;
    margin-bottom: 10px;
    color:  #d2d2d1;
}



/* Step Cards */
.step-card {
    background: var(--card-bg);
    margin: 40px 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    overflow: visible;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
}

.step-card:hover {
    transform: translateY(-5px);
}

.step-card:nth-child(even) {
    flex-direction: row-reverse;
}

.step-content {
    padding: 40px;
    flex: 1;
}

.step-number {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
    opacity: 0.3;
    line-height: 1;
}

.step-content h2 {
    margin-bottom: 15px;
    font-size: 30px;
    color: #0667f0;
    font-weight: bold;
}

.step-content p {
    color: var(--text-muted);
}

.step-content .fab-fa-github-in {
    color:  #0667f0;
    font-size: 20;
    font-weight: bold;
    margin-left: 50px;
}

.step-content .fab-fa-github-in:hover {
    color: #7803d8;
    font-size: 20.1px;
    font-weight: bold;
}

.step-image {
  flex: 1;
  position: relative;
}

.step-image img {
  width: 100%;
  transition: 0.4s ease;
  cursor: pointer;
}

 .step-image:hover img{
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-150%, -60%) scale(2);
  width: 60%;
  height: auto;
  z-index: 9999;
  box-shadow: 0 20px 50px rgba(0,0,0,0.4);
  border-radius: 10px;
}


 .step-image:hover .L-image {
 position: relative;
  bottom: 50%;
  right: 50%;
  transform: translate(10%, -50%) scale(1.3);
  width: 100%;
  height: auto;
  z-index: 9999;
  box-shadow: 0 20px 50px rgba(0,0,0,0.4);
  border-radius: 10px;
 }

 .step-image:hover .L-images {
 position: relative;
  bottom: 50%;
  right: 50%;
  transform: translate(10%, -50%) scale(2);
  width: 100%;
  height: auto;
  z-index: 9999;
  box-shadow: 0 20px 50px rgba(0,0,0,0.4);
  border-radius: 10px;
 }


/* Footer */
footer {
    text-align: center;
    padding: 40px 0;
    background: #111;
    margin-top: 50px;
    color: #d4cfcf;
    font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .step-card, .step-card:nth-child(even) {
        flex-direction: column;
    }
    
    header h1 {
        font-size: 2rem;
    }
}